<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
</head>
<body>

<h1>게시판 목록</h1>

<!-- 글쓰기 버튼 -->
<a th:href="@{/board/write}" style="text-decoration: none;">
    <button>글쓰기</button>
</a>

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>동작</th>
    </tr>
    </thead>
    <tbody>
    <!-- 모델에서 받아온 boardList를 순회하면서 각각의 데이터를 출력합니다. -->
    <tr th:each="board : ${boardList}">
        <td th:text="${board.title}">제목이 없습니다.</td>
        <td th:text="${board.content}">내용이 없습니다.</td>
        <td>
            <a th:href="@{/board/delete/{id}(id=${board.id})}" style="text-decoration: none;">
                <button>삭제</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>
