<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소환사 찾기 결과</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 50px;
        }
        .message {
            font-size: 20px;
            color: #FF0000; /* 빨간색으로 설정, 원하는 색상으로 변경 가능 */
        }
    </style>
</head>
<body>
<div class="message">
    <p>찾으시는 소환사가 없습니다.</p>
</div>
<!-- board로 이동하는 버튼 -->
<a href="/riot" style="text-decoration: none;">
    <button>검색으로 이동하기</button>
</a>

</body>
</html>
