<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소환사 정보</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 20px;
        }
        .summoner {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
        }
    </style>
</head>
<body>
<form action="/riot/summonerByName" method="get">
    <label for="summonerName">소환사명:</label>
    <input type="text" id="summonerName" name="summonerName" required>
    <button type="submit">전적 검색</button>
</form>
<!-- 소환사 정보를 담은 객체 (예제로 리스트 사용) -->

<div th:each="summoner : ${summonerList}">
    <a class="summoner" th:value="${summoner}" th:href="@{/riot/summonerByName(summonerName=${summoner.getName()+'-'+summoner.getTag()} )}">
        <p>소환사명: <span th:text="${summoner.getName() +'#'+ summoner.getTag()}"></span></p>
        <p>소환사레벨: <span th:text="${summoner.getSummonerLevel()}"></span></p>
    </a>
</div>



</body>
</html>
