<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>유저 정보</title>
</head>
<body>

<h1>유저 정보</h1>

<div>
  <p>소환사명: <span th:text="${data.getName()+'#'+data.getTag()}"></span></p>
  <p>Prev: <span th:text="${data.getPrevId()}"></span></p>
  <p>레벨: <span th:text="${data.getSummonerLevel()}"></span></p>
  <p><span th:text="${diffTime}"></span> 전에 롤을 플레이 했습니다.</p>
  <p><span th:text="${dateFormat}"></span>에 마지막으로 롤을 플레이 했습니다.</p>

  <!-- 기타 필요한 정보를 추가로 표시 -->
</div>

</body>
</html>
